<!DOCTYPE html>
<html>
    <head>
        <title>Proposal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <style>
        div {
            background-color: #7D393F;
            height: 100vh;
            transition: background-color 1s;
        }
        </style>
    </head>
    <body style="background-color: #7D393F;">
        
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a style="color:silver" href="/"><h1 class="ml1"><span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters">Home</span>
                <span class="line line2"></span>
              </span></h1></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" style="color:rgb(100, 99, 99)" href="analysis"><h5 class="ana">Analysis</h5></a></li>
                <li class="nav-item"><a class="nav-link" style="color:rgb(100, 99, 99)" href="data"><h5 class="dat">Data</h5></a></li>
            </ul>
        </nav>

        <!-- anime.js -->
        <span id="anime">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </span>

        <!-- main page -->
        <section class="container-fluid" style="text-align: center; padding-bottom: 10px ;">
            <h1 class="main-title" style="color: #C98C3E;">Project Goal</h1>
            <hr>
            <h5>To analyze at the bestselling games in history across multiple data factors to try to some factors that contributed to their success and popularity </h5>
            <hr>
            <img src="../static/images/video_game_publishers.jpg">
            <hr style="opacity: 0">
            <h5 style="color: #C98C3E;">Procedure</h5>
            <hr>
            <p>
                In order to visualize this data in the most user friendly way, we utilized multiple tools to transition the data from a CSV to an interactive website.
            </p>
            <p>
                To start we populated a SQL table with our CSV data to structure it into an easily understandable relational framework. 
            </p>
            <p>
                We then used a python flask application to pull the data from SQL and push it to an html api, that our website could then regularly call when a user interacts with our page.
            </p>
            <p>
                Finally we used HTML, CSS, and Javascript to make our website into a visually pleasing and interactive tool for users to analyze our data.
            </p>
        </section>
        <!-- footer -->
        <footer>
                <hr>
                <a href="https://github.com/L0rd-Z-19/speedrunning_analysis" style="color: #C98C3E;">Our Github Repository</a>
                <hr>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>   
        <script src="static/js/anime.js"></script>
        <script src="../static/js/h1_anime.js"></script>
        <script src="../static/js/nav.js"></script>
    </body>
</html>